.name-tour {
    width: 10%;
}

.organization-day {
    width: 7%;
}

.rules {
    width: 10%;
}

.winner {
    width: 20%;
}

.stt {
    width: 5%;
}

.closed, .ban {
    color: red;
}

.special {
    color: green;
}
