.name-tour {
    width: 10%;
}

.organization-day {
    width: 7%;
}

.rules {
    width: 10%;
}

.winner {
    width: 20%;
}

.stt {
    width: 5%;
}

.closed {
    color: #ff1101;
}

.special {
    color: #00E676;
}

.search-bar {
    display: block;
    width: 50%;
    height: 45px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.43;
    color: var(--text);
    background: darkgrey;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(187, 178, 178, 0.075);
}

.search-bar:focus,
.search-bar:hover {
    border-color: rgb(4, 255, 109);
    outline: 0;
    box-shadow: 0px 6px 50px rgb(28 153 223 / 98%);
    filter: opacity(0.6)
}

.search-bar input[type=text] {
    height: 45px;
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
    border-radius: 6px
}