#post {
    padding: 1.5rem 10rem;
}

#post .information {
    text-align: center;
}

.banner {
    border-radius: .5em;
    box-shadow: 0 0 3px var(--color-grey);
    background-size: cover;
    background-image: var(--backdrop-url);
    aspect-ratio: 16 / 9;
    min-height: 150px;
    height: auto;
    width: auto;
    max-width: 50vw;
    max-height: 50vh;
}

.content img {
    max-width: 50vw;
    max-height: 50vh;
}

.short_text {
    color: var(--color-grey);
}

#post .content p {
    line-height: 1.5rem;
}

@media (max-width: 1024px) {
    #post {
        padding: 1rem 0;
    }

    .information .tab {
        display: none;
    }

    .information h1 {
        font-size: 30px;
    }

    .information img {
        max-width: 100%;
        max-height: 100%;
    }

    .content img {
        max-width: 100%;
        max-height: 100%;
    }
}
