.styled-table {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #05fe09;
    font-size: 16px;
}

.styled-table th, .styled-table td {
    border: 1px solid #00e11e;
    padding: 8px;
    font-size: 14px;
}

.styled-table th {
    background-color: rgba(0, 170, 255, 0.996);
}

.styled-table tr:hover {
    background-color: rgba(116, 138, 150, 0.437);
    cursor:pointer;
}

.styled-table td:hover {
    background-color:#7d7c9a5b;
    cursor:pointer;
}

.styled-table a {
    background-color:#f6043ce6;
    cursor:pointer;
}

.styled-table a:hover {
    background-color:#0aedc3f6;
    cursor:pointer;
}

.stt {
    width: 3%;
}

.winner {
    width: 14%;
}
