<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Trò chơi Sliding puzzle</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://thivualaytot.github.io/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="sliding-puzzles/assets/css/hakoirimusume.css"/>
    <link rel="icon" href="https://raw.githubusercontent.com/ThiVuaLayTot/ThiVuaLayTot.github.io/main/images/favicon.ico" type="image/x-icon">
</head>

<body>
    {% include navbar.html %}
    <style>
	    #game {
    	  width: 333px;
	      margin: 0;
        }
 	    @media only screen and (max-width: 333px) {
    	    #game {
      	        width: 70%;
	        }
        }
  </style>

    <h2 align="center">Sliding puzzle</h2>
    <p align="center">Hãy đưa quân vua 玉 thoát ra ở lỗ phía dưới bàn cờ</p>

  <div id="game-help">
    <div>
      <span id="move-count"></span>
      lượt di chuyển
    </div>
    <button id="reset">Chơi lại</button>
    <div id="game"></div>
  </div>

  <script src="sliding-puzzles/dist/sliding-puzzles.min.js"></script>
  <script src="js/sliding.js"></script>

  <br><br><hr>
  {% include footer.html %}
<script src="https://thivualaytot.github.io/js/main.js"></script>
</body>

</html>
