[submodule "game"]
	path = game
	url = https://github.com/Thi-Vua-Lay-Tot/game
[submodule "libot-leaderboard"]
	path = libot-leaderboard
	url = https://github.com/Thi-Vua-Lay-Tot/libot-leaderboard
[submodule "tournament-history"]
	path = tournament-history
	url = https://github.com/Thi-Vua-Lay-Tot/tournament-history
