<footer>
    <div class="footer-container">
        <div>
            <h3><a href="">Thí Vua Lấy Tốt</a></h3>
            <a href="/social">Các trang mạng/truyền thông</a>|
            <a href="/blog">Các thông báo & tin tức</a>|
            <a href="/vlogs">Thư viện Video</a>|
            <a href="/game">Vài trò chơi đơn giản</a>|
            <a href="/lists">Danh sách/Tài liệu</a>|
            <a href="/leaders">Ban quản trị</a>
            <hr>
            <p>Trang được phát triển bởi <a href="/leaders#admins" title="Các quản trị viên">Quản trị viên</a>.</p>
            <p>Mã nguồn trên <a href="https://github.com/ThiVuaLayTot/ThiVuaLayTot.github.io"><span class="fa fa-github"></span></a></p>
            <p><i>Lần cuối cập nhật nội dung: 9 giờ 29 phút, ngày 20/10/2024</i>.</p>
        </div>
        <div>
            <h3><a href="/social">Các Liên Kết Mạng Xã Hội</a></h3>
            <strong><a href="/social#social">Các tài khoản mạng xã hội của TungJohn</a></strong>
            <div class="social_btn">
                <a href="https://youtube.com/channel/UCvNW1NAWWjblgrP6JQI4MbQ" target="_blank"><span class="fa fa-youtube"></span></a>
                <a href="https://facebook.com/TungJohn2005" target="_blank"><span class="fa fa-facebook-square"></span></a>
                <a href="https://twitch.tv/tungjohnplayingchess" target="_blank"><span class="fa fa-twitch"></span></a>
                <a href="https://tiktok.com/@tungjohn2005" target="_blank"><span class="bx bxl-tiktok"></span></a>
                <a href="https://chess.com/member/tungjohn2005" target="_blank"><img src="https://images.chesscomfiles.com/uploads/v1/user/33.862d5ff1.160x160o.578dc76c0662.png"></a>
                <a href="https://lichess.org/Tungjohn2005" target="_blank"><img src="https://lichess1.org/assets/______2/flair/img/activity.lichess.webp"></a>
                <a href="https://shopee.vn/tungjohn2005" target="_blank" title="Shop cờ vua của TungJohn trên Shopee"><span class="fa fa-shopping-bag"></span></a>
            </div>
            <hr>
            <strong><a href="/social#group">Các nhóm, câu lạc bộ, máy chủ của Thí Vua Lấy Tốt</a></strong>
            <div class="social_btn">
                <a href="https://link.chess.com/club/0CVQh6" target="_blank"><img width="22" src="https://images.chesscomfiles.com/uploads/v1/user/33.862d5ff1.160x160o.578dc76c0662.png"></a>
                <a href="https://lichess.org/team/thi-vua-lay-tot-tungjohn-playing-chess" target="_blank"><img width="22" src="https://lichess1.org/assets/______2/flair/img/activity.lichess.webp"></a>
                <a href="https://facebook.com/groups/586909589413729" target="_blank"><span class="fa fa-facebook-square"></span></a>
                <a href="https://discord.gg/bggkufa4nE" target="_blank"><span class="bx bxl-discord"></span></a>
                <a href="https://zalo.me/g/zhrwtn779" target="_blank"><img width="14" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg"></a>
            </div>
        </div>
        <div>
            <h3><a href="https://youtube.com/channel/UCvNW1NAWWjblgrP6JQI4MbQ">Liên hệ & Ủng hộ</a></h3>
            <strong><a href="/social"><span class="bx bxs-contact"></span>Liên hệ</a></strong>
            <p>Gọi điện nếu bạn muốn đăng ký tham gia khóa học cờ vua tại Hà Nội.
                <a href="tel:0975600448"><span class="bx bxs-phone-call"></span>0975600448</a>
            </p>
            <p>Cách để nhận được trợ giúp, hỗ trợ là <span class="bx bx-message-dots"></span>Nhắn tin: với <a href="https://m.me/TungJohn2005">TungJohn qua Messenger</a>, với <a href="https://m.me/ThiVuaLayTot">quản trị viên trên Messenger</a>,
                hoặc tham gia nhóm của chúng tôi trên <a href="/social">các nền tảng truyền thông</a> để cùng thảo luận.</p>
            <hr>
            <strong><a href=""><span class="bx bxs-donate-heart"></span>Ủng hộ</a></strong>
            <p>Các bạn có thể ủng hộ cho Stream của TungJohn qua <i>STK: 0860116608005 - Nguyễn Thanh Tùng (Ngân hàng Quân Đội MB)</i> nhé. Hoặc đơn giản hơn là đăng ký và theo dõi <a href="social#social">các tài khoản MXH</a> của TungJohn.</p>
        </div>
    </div>
</footer>