<div class="footer">
    <div class="footer-container">
        <div>
            <h3><a href="https://thivualaytot.github.io/" title="Trang web Thí Vua Lấy Tốt">Thí Vua Lấy Tốt</a></h3>
            <p><a href="https://thivualaytot.github.io/webs" title="Social media links">Các trang mạng</a></p>
            <p><a href="https://thi-vua-lay-tot.github.io/blog" title="Các bài Blog quan trọng của TVLT">Các thông báo & tin tức</a></p>
            <p><a href="https://thivualaytot.github.io/vlogs" title="Các Video quan trọng của TVLT">Các Vlog</a></p>
            <p><a href="https://thivualaytot.github.io/game" title="Các trò chơi đơn giản">Các trò chơi đơn giản</a></p>
            <p><a href="https://thivualaytot.github.io/list" title="Các danh sách/bảng quan trọng">Danh sách/Tài liệu</a></p>
            <p><a href="https://thivualaytot.github.io/team" title="Ban cán sự của TVLT">Ban cán sự của TVLT</a></p>
        </div>
        <div>
            <h3><a href="https://thivualaytot.github.io/webs">Social meadia links</a></h3>
            <div class="button">
                <a href="https://youtube.com/@TungJohnPlayingChess" target="_blank" title="Kênh Youtube của TungJohn"><i class="bx bxl-youtube"></i></a>
                <a href="https://www.tiktok.com/@tungjohn2005" target="_blank" title="Tài khoản Tiktok của TungJohn"><i class="bx bxl-tiktok"></i></a>
                <a href="https://clubs.chess.com/GkQy" target="_blank" title="Câu lạc bộ Thí Vua Lấy Tốt trên Chess.com"><img src="https://images.chesscomfiles.com/uploads/v1/user/33.862d5ff1.160x160o.578dc76c0662.png"></a>
                <a href="https://lichess.org/team/thi-vua-lay-tot-tungjohn-playing-chess" target="_blank" title="Đội Thí Vua Lấy Tốt trên Lichess"><img src="./images/lichesslogo.png"></a>
                <a href="https://facebook.com/TungJohn2005" target="_blank" title="Trang Facebook của TungJohn Playing Chess"><i class="bx bxl-facebook"></i></a>
                <a href="https://zalo.me/g/zhrwtn779" target="_blank" title="Nhóm chat của Thí Vua Lấy Tốt trên Zalo"><img width="14" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg"></a>
                <a href="https://discord.gg/WUhW5Cs9gB" target="_blank" title="Máy chủ Discord của Thí Vua Lấy Tốt"><i class="bx bxl-discord"></i></a>
            </div>
        </div>
        <div>
            <br><br>
            <p>Web được xây dựng bởi QTV <a href="https://thivualaytot.github.io/team#admins" title="Các quản trị viên">Đinh Hoàng Việt</a>.</p>
            <p>Mã nguồn trên <a href="https://github.com/ThiVuaLayTot/ThiVuaLayTot.github.io" title="Mã nguồn của web trên Github"><img class="github-logo" src="https://github.com/fluidicon.png" alt="GitHub Icon"></a></p>
            <label>
                <a href="#top"><i id="back2top" class="bx bxs-to-top" title="Trở lại đầu trang này"></i></a>
            </label>
        </div>
    </div>
</div>
