<nav class="page-header">
    <div><a href="/" target="_top" style="text-decoration: none;"> 
        <div class="tvlt_details">
            <img src="/images/tvltlogo.png" alt="Thí Vua Lấy Tốt" width="50" class="logo">
            <div>
                <span class="tvlt_name">Thí Vua Lấy Tốt<br></span>
                <span class="tungjohn">TungJohn Playing Chess</span>
            </div>
        </div></a>
    </div>
    <div class="topnav">
        <div class="nav_content">
            <div id="menu"><a class="icon"><span class="fa fa-list" id="menuIcon"></span></a></div>
            <div class="topnav_content" id="tvltTopnav">
                <div class="section">
                    <a href="/blog" target="_top"><span class="bx bx-news"></span>Các bài đăng</a>
                </div>
                <div class="section">
                    <a href="/video" target="_top"><span class="bx bx-movie-play"></span>Thư viện Video</a>
                </div>
                <div class="section">
                    <a href="/events" target="_top"><span class="bx bx-medal"></span>Giải đấu</a>
                </div>
                <div class="section">
                    <a href="/leaders" target="_top"><span class="bx bx-shield-quarter"></span>Quản trị viên</a>
                </div>
            </div>
        </div>      
    </div>
</nav>