<nav class="page-header">
    <div class="logo">
        <a href="/" target="_top"><img src="/images/tvltlogo.png" alt="Thí Vua Lấy Tốt"></a>
    </div>
    <div class="topnav">
        <div class="section">
            <a style="pointer-events: none"><span class="bx bxs-chess"></span>Chơi cờ</a>
        </div>
        <div id="tvlttopnav" class="section">
            <a href="/blog" target="_top"><span class="fa fa-newspaper-o"></span>Các bài đăng</a>
        </div>
        <div class="section">
            <a href="/vlogs" target="_top"><span class="fa fa-play-circle"></span>Thư viện Video</a>
        </div>
        <div class="section">
            <a href="/social" target="_top"><span class="fa fa-link"></span>Truyền thông</a>
        </div>
        <div class="section">
            <a href="/events" target="_top">
                <span class="bx bx-medal"></span>Giải đấu
            </a>
        </div>
        <div class="section">
            <a href="/leaders" target="_top">
                <span class="fa fa-shield"></span>Ban lãnh đạo</a>
        </div>        
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()"><span class="fa fa-list"></span></a>
    <div class="lang">
        <span class="fa fa-language"></span>
    </div>
</nav>