<nav class="page-header">
    <div class="logo">
        <a href="/"><img src="/images/tvltlogo.png" alt="Thí Vua Lấy Tốt"></a>
    </div>
    <div class="topnav">
        <div class="section">
            <a>
                <span class="bx bxs-chess"></span>Chơi cờ
            </a>
        </div>
        <div class="section">
            <a href="/blog">
                <span class="fa fa-newspaper-o"></span>Các bài đăng
            </a>
        </div>
        <div class="section">
            <a href="/vlogs">
                <span class="fa fa-play-circle"></span>Thư viện Video
            </a>
        </div>
        <div class="section dropdown">
            <a class="dropbtn" href="/social">
                <span class="fa fa-link"></span>Truyền thông <span class="fa fa-caret-down"></span>
            </a>
            <div class="dropdown-content">
                <a href="/social#social">Các tài khoản MXH của TungJohn</a>
                <a href="/social#chat">Các đoạn chat của Thí Vua Lấy Tốt</a>
                <a href="/social#group">Các nhóm/CLB/máy chủ của Thí Vua Lấy Tốt</a>
            </div>
        </div>
        <div class="section dropdown">
            <a class="dropbtn" href="/lists">
                <span class="bx bx-list-plus"></span>Danh sách/Tài liệu <span class="fa fa-caret-down"></span>
            </a>
            <div class="dropdown-content">
                <a href="/events">Danh sách tổng hợp các giải đấu</a>
            </div>
        </div>
        <div class="section dropdown">
            <a class="dropbtn" href="/leaders" title="Ban cán sự của Thí Vua Lấy Tốt">
                <span class="fa fa-shield"></span>Ban lãnh đạo <span class="fa fa-caret-down"></span>
            </a>
            <div class="dropdown-content">
                <a href="/leaders#admins">Administrators/Các Quản trị viên</a>
                <a href="/leaders#mods">Moderators/Các điều hành viên</a>
            </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()"><span class="fa fa-list"></span></a></li>
    </div>
    <div>
        <span class="fa fa-language"></span>
    </div>
</nav>