---
layout: default
title: Kiến thức cờ vua
permalink: /chess/
---

<h1>Các kiến thức cờ vua</h1>
<a href="https://thivualaytot.github.io/atom.xml"><span class="bx bx-rss" title="Atom RSS"></span></a>
<ul class="tab">
    <li><a href="/blog">Tất cả bài đăng</a></li>
    <li><a href="/chess" class="active">Kiến thức cờ vua</a></li>
    <li><a href="/news">Thông báo/Tin tức</a></li>
</ul><br>
<div class="card-list">
    {% for post in site.posts %} {% if post.tags == "chess" %}
    <div class="card">
        <a href="{{ post.url }}"><img src="/images/{{ post.id }}.png" class="card_image">
            <h4 class="card_title">{{ post.title }}</h4>
        </a>
        <a href="/{{ post.tags }}" class="card_tag"><span class="fa fa-tag"></span> {{ post.category }}</a>
        <span class="card_dav">{{ post.date | date:"%d-%m-%Y" }}</i></div>
{% endif %} {% endfor %}
</div>