---
layout: default
title: Thông báo và tin tức
permalink: /news/
---

<h1>Thông báo & Tin tức</h1>
<a href="https://thivualaytot.github.io/atom.xml"><span class="bx bx-rss" title="Atom RSS"></span></a>
<ul class="tab">
    <li><a href="/blog">Tất cả bài đăng</a></li>
    <li><a href="/chess">Kiến thức cờ vua</a></li>
    <li><a href="/news" class="active">Thông báo/Tin tức</a></li>
</ul><br>
<div class="card-list">
    {% for post in site.posts %} {% if post.category == "news" %}
    <div class="card">
        <a href="{{ post.url }}"><img src="/images/{{ post.id }}.png" class="card_image">
        <h4 class="card_title">{{ post.title }}</h4>
        <i class="card_in4">{{ post.description }}</i></a>
        <div class="card_detail">
            <a href="/{{ post.category }}" class="card_tag"><span class="fa fa-tag"></span>{{ post.tags }}</a>|
            <b class="card_author"><span class="bx bx-user"></span>{{ post.author }}</b>|<span class="card_date"><span class="bx bx-time"></span>{{ post.date | date:"%d thg %m, %Y" }}</span>
        </div>
    </div>
{% endif %} {% endfor %}
</div>