<!doctype html>
<html lang="vi">

<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cobaohieu.github.io/assets/css/intro.css">
    <link rel="stylesheet" href="https://typelevel.org/typelevel.github.com/css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="https://raw.githubusercontent.com/Thi-Vua-Lay-Tot/Thi-Vua-Lay-Tot.github.io/main/images/favicon.ico" type="image/x-icon" />
</head>

<body>
    <header>
            <nav id="navigation" class="navigation-scroll">
                <div class="container">
                  <div class="navbar" id="navbar-main">
                    <div class="navbar-brand">
                      <a href="https://thi-vua-lay-tot.github.io"><img src="https://raw.githubusercontent.com/Thi-Vua-Lay-Tot/Thi-Vua-Lay-Tot.github.io/main/images/favicon.ico" title="Thí Vua Lấy Tốt"></a>
                    </div>
                    <label class="mode">
                        <input type="checkbox" id="darkModeToggle">
                        <i id="moon" class='bx bxs-moon' title="Bật/Tắt chế độ tối"></i>
                    </label>
                    <ul class="navbar-nav">
                      <li>
                        <a href="https://thi-vua-lay-tot.github.io">Trang chủ</a>
                      </li>
                      <li>
                        <a href="https://thi-vua-lay-tot.github.io/list">Danh sách</a>
                      </li>        
                      <li>
                        <a href="https://thi-vua-lay-tot.github.io/blogs">Blog</a>
                      </li>
                      <li>
                        <a href="https://thi-vua-lay-tot.github.io/vlogs">Vlog</a>
                      </li>
                      <li>
                        <a href="https://thi-vua-lay-tot.github.io/webs">Các trang mạng</a>
                      </li>
                      <li>
                        <a href="https://thi-vua-lay-tot.github.io/game">Game</a>
                      </li>
                      <li>
                        <a href="https://thi-vua-lay-tot.github.io/team">Mods</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </header>
    <style>
        .github-logo {
          width: 1.5em;
          height: auto;
          vertical-align: middle;
        }
        .verified {
          width: 1.5em;
          height: auto;
          vertical-align: middle;
        }
        .unverified {
          width: 1.5em;
          height: auto;
          vertical-align: middle;
        }
        .styled-table {
          font-family: "Raleway", sans-serif;
          border-collapse: collapse;
          width: 100%;
          border: 1px solid #0257f6;
          font-size: 16px;
        }
        .styled-table th, .styled-table td {
          border: 1px solid #f10404;
          padding: 8px;
          text-align: left;
        }
        .styled-table th {
          background-color: #03c139;
        }
    </style>

    <div id="section-page">
        <div class="container">
            <div class="masthead-page">
                {{ content }}
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="footer-container">
                <p>
                    <a href="https://www.youtube.com/@TungJohnPlayingChess"><img src="https://img.shields.io/badge/-Youtube-EA4335?style=flat-square&logo=Youtube&logoColor=white" target="_blank"></a></li>
                    <a href="https://clubs.chess.com/GkQy"><img width="88" src="https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/NathanielGreen/php0hWd9E.png" target="_blank"></a></li>
                    <a href="https://lichess.org/team/thi-vua-lay-tot-tungjohn-playing-chess"><img src="https://img.shields.io/badge/-Lichess-050505?style=flat-square&logo=Lichess&logoColor=white" target="_blank"></a></li>
                    <a href="https://lishogi.org/team/thi-vua-lay-tot-tungjohn-playing-shogi"><img src="https://img.shields.io/badge/-Lishogi-050505?style=flat-square&logo=Lishogi&logoColor=white" target="_blank"></a></li>
                    <a href="https://lidraughts.org/team/thi-vua-lay-quan-tungjohn-playing-draughts"><img src="https://img.shields.io/badge/-Lidraughts-050505?style=flat-square&logo=Lidraughts&logoColor=white" target="_blank"></a></li>
                    <a href="https://playstrategy.org/team/thi-vua-lay-tot-tungjohn-playing-chess"><img src="https://img.shields.io/badge/-PlayStrategy-050505?style=flat-square&logo=PlayStrategy&logoColor=white" target="_blank"></a></li>
                    <a href="https://www.facebook.com/TungJohn2005"><img src="https://img.shields.io/badge/-Facebook-00B2FF?style=flat-square&logo=Facebook&logoColor=white" target="_blank"> </a></li>
                    <a href="https://discord.gg/WUhW5Cs9gB"><img src="https://dcbadge.vercel.app/api/server/WUhW5Cs9gB?style=flat" target="_blank"> </a></li>
                </p>
                <p>
                    <a href="https://thi-vua-lay-tot.github.io">Trang chủ</a>
                    <a href="https://thi-vua-lay-tot.github.io/list">Các danh sách</a>
                    <a href="https://thi-vua-lay-tot.github.io/webs">Các trang mạng</a>
                    <a href="https://thi-vua-lay-tot.github.io/blogs">Blog</a>
                    <a href="https://thi-vua-lay-tot.github.io/vlogs">Vlog</a>
                    <a href="https://thi-vua-lay-tot.github.io/game">Trò chơi</a>
                </p>
                <p>
                    <u>Web được xây dựng bởi QTV <a href="https://thi-vua-lay-tot.github.io/team">Đinh Hoàng Việt</a></u>
                    <i>Mã nguồn trên <a href="https://github.com/Thi-Vua-Lay-Tot/Thi-Vua-Lay-Tot.github.io"><img class="github-logo" src="https://github.com/fluidicon.png" alt="GitHub Icon"></a></i>
                </p>
            </div>
        </div>
    </div>
    <script>
        const darkModeToggle = document.getElementById('darkModeToggle');
        const body = document.body;
        const isDarkMode = localStorage.getItem('darkMode') === 'enabled';
        // Check if it's daytime (before noon) and enable dark mode
        const currentTime = new Date();
        const isDaytime = currentTime.getHours() > 16;

        if (isDaytime && isDarkMode) {
            body.classList.remove('dark-mode');
            localStorage.setItem('darkMode', 'disabled');
            darkModeToggle.checked = false;
        } else if (!isDaytime && !isDarkMode) {
            body.classList.add('dark-mode');
            localStorage.setItem('darkMode', 'enabled');
            darkModeToggle.checked = true;
        }

        darkModeToggle.addEventListener('change', () => {
            if (darkModeToggle.checked) {
                body.classList.add('dark-mode');
                localStorage.setItem('darkMode', 'enabled');
            } else {
                body.classList.remove('dark-mode');
                localStorage.setItem('darkMode', 'disabled');
            }
        });
    </script>
</body>

</html>
