<!DOCTYPE html>
<html lang="vi">

<head>
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <div id="section-page">
        <div class="container">
            <div class="masthead-page">
                {{ content }}
                <br><br><hr>
                <button onclick="topFunction()" id="myBtn"  title="Trở lại đầu trang này"><i id="back2top" class="bx bxs-to-top"></i></button>
            </div>
        </div>
    </div>

    {% include footer.html %}
    <script src="https://thivualaytot.github.io/js/main.js"></script>
</body>

</html>
