<!DOCTYPE html>
<html lang="vi">

<head>
    <title>{{ page.title }}</title>
    {% include head.html %}
    <link type="text/css" rel="stylesheet" href="/css/eventwinner.css">
</head>

<body>
    {% include navbar.html %}

    <div id="section-page">
        <div class="container">
            {{ content }}
            <i>Nếu có vấn đề thì xin hãy bình luận tại <a href="https://chess.com/clubs/forum/view/danh-sach-cac-giai-da-to-chuc-clb-tvlt?cid=325849&clubId=325849&quote_id=131524731&page=1#comment_box" target="_blank">forum này</a> liên hệ <a href="/leaders#admin3" target="_top">Admin M-DinhHoangViet</a>.</i>
    <br><br>            <hr>
            <button id="back-to-top" title="Quay lại đầu trang"><span class="bx bxs-to-top"></span></button>
        </div>
    </div>
    {% include footer.html %}

    <div id="scoreModal" class="cc-modal-overlay">
        <div class="cc-modal-dialog score-modal-dialog">
            <button class="cc-modal-close" onclick="TournamentModalManager.close()">×</button>
            <div class="cc-modal-content-wrapper">
                <div class="cc-modal-header-row">
                    <div class="cc-modal-title-section">
                        <h2 id="modal-player-name">Chi tiết điểm</h2>
                    </div>
                </div>
                <div id="modal-score-breakdown"></div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/search-events.js"></script>
    <script src="/js/tournament-fetcher.js"></script>
</body>

</html>