<!DOCTYPE html>
<html lang="vi">

<head>
    <title>{{ page.title }} - Blog posts - CLB Thí Vua Lấy Tốt</title>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="/css/posts.css">
</head>

<body>
    {% include navbar.html %}

    <div id="section-page">
        <div class="container">
            <div id="post">
                <div class="information" style="text-align: center">
                    <img src="/images/{{ page.id }}.png" alt="{{ page.title }}" class="post-banner">
                    <h1 class="page-title">{{ page.title }}</h1>
                    <i class="short_text" style="display: block; margin-bottom: var(--space-md);">{{ page.description }}</i>
                <p align="center" style="text-align: center"><a href="/{{ page.category }}" class="post-tag"><span class="bx bx-purchase-tag-alt"></span> {{ page.tags }}</a> - <i style="color: var(--color-text-muted)">bởi <span style="color: var(--green-500)">{{ page.author }}</span></i></p>
                <ul class="nav-tabs">
                    <li><a href="/blog"><span class="bx bx-edit-alt" style="color:var(--legacy-green)"></span>Tất cả bài đăng</a></li>
                    <li><a href="/chess"><span class="bx bxs-chess" style="color:var(--color-accent-dark)"></span>Kiến thức cờ vua</a></li>
                    <li><a href="/news"><span class="bx bxs-news" style="color:var(--orange-200)"></span>Thông báo/Tin tức</a></li>
                    <li><a href="/events"><span class="bx bxs-medal" style="color:gold"></span>Sự kiện/Giải đấu</a></li>
                </ul>
                <hr><br>
                </div>
                <div class="post-contents">{{ content }}</div></div>
            <hr>
            <div id="other">
                <h3>Một số bài đăng khác</h3>
                <div class="main"><a href="/blog"><span class="btn">Đọc thêm một số bài đăng khác</span></a></div>
            </div>
            <br>
            <button id="back-to-top" title="Quay lại đầu trang"><span class="bx bxs-to-top"></span></button>
        </div>
    </div>

    {% include footer.html %}
    <script src="/js/main.js"></script>
</body>

</html>
